/* PCSS*/
@font-face {
	font-family: 'VA PCSS';
	src:
		url('https://hakan-keles-porsche.github.io/PorscheSAC.github.io/pcss_icons.woff') format('woff'),
		url('https://hakan-keles-porsche.github.io/PorscheSAC.github.io/pcss_icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;	
}
